body{
    font-size: 16px;
    background: #fafafa;
}

nav{
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    background: white;   
}

.nav-inner{
    max-width: 900px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    width: 200px;
}

nav ul{ 
    display: flex;
}

.search-input{
    padding: .5rem;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    text-align: center;
    border-radius: 3px;
    width: 13.4375rem;
    outline: none;
}

.search-input:focus{
    text-align: left;
    background: white;
}

nav .icon{
    width: 2rem;
    height: 2rem;
}
nav li {
    margin: 0 0 0 1rem;
}
nav li:first-child{
    margin: 0;
}


nav a {
    display: block;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container .logo-divider{
    height: 2rem;
    width: 1px;
    background: black;
    margin: 0 1rem;
}

.logo-container .logo-item-1{
    width: 2rem;
}

.logo-container .logo-item-2{
    height: 3rem;
    margin-bottom: -.45rem;
}


img{
    max-width: 100%;
    height: auto;
}